@font-face {
    font-family: 'Oswald';
    src: url('http://colegiolider.com/assets/font/oswald/oswald-regular-webfont.woff');
}
header {
    top:0;
}
body {
    margin: 0;
}

header, .story{
    background-color: rgba(0, 0, 0, 0.32);
    text-align: center;
    width: 100%;
    height: 20%;
    position: fixed;
    margin: 0px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 100px;
    line-height: 50px;
    letter-spacing: 25px;
}

.story {
    bottom: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 40px;
    color: white;
    line-height:100px;
}
.pic {
    width: 100%;
    position: static;
    margin: 0px;
}
header a,header a:visited {
    text-decoration: none;
    color: white;
}

.story a, .story a:visited {
    text-decoration: none;
    color: white;
}
.story a:hover {
    text-decoration: none;
    color: #a7a386;
}
footer {
    position: fixed;
    bottom: 0;
    color: black;
    background-color: rgba(167, 44, 87, 0);
    margin: 0px;
}

.story p:first-child:first-letter {
    color: #970100;
    font-size: 60px;
}



