.s1 {
    color: blue;
    background-color: aqua;
    padding-left: 25px;
    margin: 25px;

}

.s2 {
    background-color: aliceblue;
    padding: 25px;
    margin: 25px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
}
.s3 {
    background-color: black;
    color: #FFFFFF;
    padding: 25px;
    margin: 25px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;


}
a:hover{
    color:greenyellow;

}
a{
    color:red;

}
.s4 {
    background-color: black;

}