#color {
  color: blue;
  background-color: aliceblue;
}

#transitionexample {
  transition: transform 1s ease;
}
.s1 {
  color: blue;
  background-color: aliceblue;
  padding-left: 25px;
  margin: 25px;
}
.s2 {
  background-color: aliceblue;
  padding: 25px;
  margin: 25px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
}
.s3 {
  background-color: black;
  color: #FFFFFF;
  padding: 25px;
  margin: 25px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
}
a:hover {
  color: greenyellow;

}
#instantexample:hover {
  dispay: inline-block;

  transform: rotate(360deg);
  transition: transform 4s ease;
}
a {
  color: red;

}
.s4 {
  background-color: black;
}
@keyframes looparound {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 470px;
  }
  50% {
    top: 170px;
    left: 470px;
  }
  75% {
    top: 170px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}
#animationexample {
  animation-name: looparound;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
div {
  animation-duration: 20s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
.changebg:hover {
  background-color: brown;
  transition: background-color 10s ease;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;

  }
  25% {
    margin-top: 20%;
  }
  75% {
    margin-top: 10%;


  }
  to {
    margin-left: 0%;
    width: 100%;
    letter-spacing: 20px;
    font-family: Gabriola;
    text-blink: true;
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}